rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() && request.auth.token.email == "nphuong25071988@gmail.com" && request.auth.token.email_verified == true;
    }

    match /readable_books/{bookId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /suggested_books/{bookId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
